<div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-inner">
    <!-- <div class="topmargin"> -->
      <ul>
        <div class="czcionka">
    <b><a href="http://jaworgists.herokuapp.com/">Gisty</a>
    <a href="https://github.com/kropeq/my-gist">GitHub</a>
    <a href="http://jaworgists.herokuapp.com/gists/new">Dodaj</a></b></div>
          <form class="navbar-form navbar-left pull-right" role="search" action="/gists/search">
          <div class="form-group">
        <%= select_tag(:lang, options_for_select(Pygments.lexers.keys.sort.map! {|l| l.downcase.strip}, params[:lang])) %>
          <button type="submit" class="btn btn-default szukaj">Szukaj</button>
          </div>
        </form>
      </ul>
    <!-- </div> -->
  </div>
</div>
<div class="center hero-unit">
<br /><br />
<div class="h1">Umieszczanie gistów</div>
<br />
<table border="1">
  <thead>
    <tr bgcolor="#DDDDDD">
      <th>Skrawek</th>
      <th>Język</th>
      <th>Opis</th>
      <th></th>
    </tr>
  </thead>
  <tbody bgcolor="#99FFCC">
    <% @gists.each do |gist| %>
      <tr style="height:100px;">
        <td class="snippetBox"><%= raw Pygments.highlight(gist.snippet.length > 30 ? gist.snippet[0,90] + "" : gist.snippet, lexer: gist.lang) %></td>
        <td class="langBox"><b><%= gist.lang %></b></td>
        <td class="descriptionBox"><%= gist.description %></td>
        <!--<td class="buttonsBox">
          <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Menu <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
          <li><a href="#"><%= link_to 'Pokaż', gist %></a></li>
          <li><a href="#"><%= link_to 'Edytuj', edit_gist_path(gist) %></a></li>
          <li><a href="#"><%= link_to 'Usuń', gist, method: :delete, data: { confirm: 'Are you sure?' } %></a></li>
        </ul></div>
        </td> -->
        <td class="buttonsBox"><%= link_to 'Pokaż', gist, :class => "btn btn-default batton" %>
        <%= link_to 'Edytuj', edit_gist_path(gist), :class => "btn btn-default batton" %>
        <%= link_to 'Usuń', gist, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default batton" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />
<center><%= will_paginate %></center>
</div>
