<div class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-inner">
		<div class="topmargin">
			<div class="czcionka">
			<ul><b><a href="http://jaworgists.herokuapp.com/">Gisty</a>
			<a href="https://github.com/kropeq/my-gist">GitHub</a>
			<a href="http://jaworgists.herokuapp.com/gists/new">Dodaj</a></b></ul>
			</div>
		</div>
	</div>
</div>
<div class="center hero-unit">
	<br />
	<div class="h1">Treść Twojego GISTA</div>
<p id="notice"><%= notice %></p>
<p class="navbar-text">
  <strong>Lang:</strong>
  <%= @gist.lang %>
</p>
<p class="navbar-text">
  <strong>Description:</strong>
  <%= @gist.description %>
</p>
<p class="navbar-text">
  <strong>Snippet:</strong>
</p>

<%= raw Pygments.highlight(@gist.snippet, lexer: @gist.lang) %>
<p align="center"><%= link_to 'Edytuj', edit_gist_path(@gist), :class => "btn btn-default" %> 
<%= link_to 'Wróć', gists_path, :class => "btn btn-default" %>
</p>
</div>
